<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Bengkel Las Suka Jaya Tangerang</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="assets/img/logo.png" alt=""> -->
                <h1>SukaJaya<span>.</span></h1>
            </a>

            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="#alt-services">Tentang</a></li>
                    <li><a href="#services">Layanan</a></li>
                    <li><a href="#projects">Gallery</a></li>
                    <li><a href="#contact">Kontak</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero">

        <div class="info d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="text-center">
                        <h2 data-aos="fade-down">Bengkel Las <span class="orange">Suka Jaya</span></h2>
                        <h1 data-aos="fade-up">Jasa Bengkel Las Profesional</h1>
                        <h3 data-aos="fade-up">Gratis Survei dan Konsultasi</h3>
                        <a data-aos="fade-up" data-aos-delay="200" href="https://wa.me/6282249040305" target="_blank"
                            class="btn-get-started">Hubungi Kami</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
            <div class="carousel-item active" style="background-image: url(assets/img/hero-carousel/header3.jpg)"></div>
        </div>

    </section><!-- End Hero Section -->

    <main id="main">

        <!-- ======= Alt Services Section ======= -->
        <section id="alt-services" class="alt-services section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2><span>Tentang</span> Kami</h2>
                </div>

                <div class="row justify-content-around gy-4">
                    <div class="col-lg-6 img-bg" data-aos="zoom-in" data-aos-delay="100">
                        <img src="assets/img/gallery/gudang.jpg" alt="About">
                    </div>

                    <div class="col-lg-5 d-flex flex-column justify-content-center">
                        <h3>Profil Bengkel Las Suka Jaya</h3>
                        <p>Bengkel Las Suka Jaya merupakan jasa layanan pengelasan yang sudah melayani pelanggan kami
                            selama 25 tahun lebih. Kami
                            melayani pembangunan gudang, pembuatan Railing Tangga, Pagar, Kanopi, Pintu Besi, Railing
                            Balkon, Booth Container dan
                            lain lain. Kami juga melayani pembuatan custom sesuai dengan kebutuhan yang anda inginkan.
                        </p>
                        <p>
                            Berpengalaman selama puluhan tahun yang membuat kami menjadi profesional dibidang
                            pengelasan. Kami berupaya selalu
                            meningkatkan kualitas pelayanan kami dengan memberikan hasil pengerjaan yang berkualitas.
                        </p>
                        <a data-aos="fade-up" data-aos-delay="200" href="https://wa.me/6282249040305" target="_blank"
                            class="btn-get-started">Hubungi Kami</a>

                    </div>
                </div>

            </div>
        </section><!-- End Alt Services Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2><span>Layanan</span> Kami</h2>
                </div>

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/gallery/Pagar.jpg" class="card-img-top" alt="Pagar">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Pembuatan Pagar</h5>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/gallery/kanopi.jpg" class="card-img-top" alt="Pagar">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Pembuatan Kanopi</h5>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/gallery/balkon.jpg" class="card-img-top" alt="Pagar">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Pembuatan Balkon</h5>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/gallery/railing.jpg" class="card-img-top" alt="Pagar">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Pembuatan Railing</h5>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/gallery/kontainer.jpg" class="card-img-top" alt="Pagar">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Pembuatan Booth Container</h5>
                            </div>
                        </div>
                    </div><!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="card">
                            <img src="assets/img/gallery/gudang.jpg" class="card-img-top" alt="Pagar">
                            <div class="card-body">
                                <h5 class="card-title fw-bold">Pembangunan Gudang</h5>
                            </div>
                        </div>
                    </div><!-- End Service Item -->


                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= choose Section ======= -->
        <section id="choose" class="choose section-blue">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2><span>Mengapa</span> Memilih Kami</h2>
                </div>

                <div class="row gy-4">

                    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-clipboard2-check"></i>
                            <div>
                                <h4>Gratis Survei</h4>
                                <p>Kami siap datang ke lokasi anda untuk melakukan survei tanpa dipungut biaya</p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div><!-- End Card Item -->

                    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-tags"></i>
                            <div>
                                <h4>Harga Terjangkau</h4>
                                <p>Kami menawarkan harga yang terjangkau dan bersaing</p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div><!-- End Card Item -->

                    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-hand-thumbs-up"></i>
                            <div>
                                <h4>Material Berkualitas</h4>
                                <p>Menggunakan material premium dan berkualitas agar hasil lebih maksimal</p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div><!-- End Card Item -->

                    <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box text-center" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-clipboard2-check"></i>
                            <div>
                                <h4>Pekerja Profesional</h4>
                                <p>Dikerjakan oleh tenaga profesional dan berpengelaman sehingga hasil pekerjaan rapi
                                </p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div><!-- End Card Item -->


                </div>

            </div>
        </section><!-- End choose Section -->

        <!-- ======= Our Projects Section ======= -->
        <section id="projects" class="projects">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2><span>Gallery</span></h2>
                </div>

                <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry"
                    data-portfolio-sort="original-order">

                    <ul class="portfolio-flters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-balkon">Balkon</li>
                        <li data-filter=".filter-kanopi">Kanopi</li>
                        <li data-filter=".filter-railing">Railing</li>
                        <li data-filter=".filter-pagar">Pagar</li>
                    </ul><!-- End Projects Filters -->

                    <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item filter-balkon">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/balkon.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Remodeling 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/balkon.jpg" title="Balkon"
                                        data-gallery="portfolio-gallery-remodeling"
                                        class="glightbox preview-link text-center"><i class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-kanopi">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/gudang.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Construction 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/gudang.jpg" title="Gudang"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-railing">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/kanopi.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Repairs 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/kanopi.jpg" title="Kanopi 1"
                                        data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-pagar">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/kanopi.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Design 1</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/kanopi.png" title="Kanopi 2"
                                        data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-balkon">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/kanopi2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Remodeling 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/kanopi2.jpg" title="Kanopi 3"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-kanopi">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/kontainer.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Construction 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/kontainer.jpg" title="Kontainer 1"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-railing">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/Pagar.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Repairs 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/Pagar.jpg" title="Pagar 1"
                                        data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-pagar">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/pagar2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Design 2</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/pagar2.jpg" title="Pagar 2"
                                        data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-balkon">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/railing.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Remodeling 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/railing.jpg" title="Railing 1"
                                        data-gallery="portfolio-gallery-remodeling" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-kanopi">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/railing2.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Construction 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/railing2.jpg" title="Railing 2"
                                        data-gallery="portfolio-gallery-construction" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-railing">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/railing3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Repairs 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/railing3.jpg" title="Railing 3"
                                        data-gallery="portfolio-gallery-repairs" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item filter-pagar">
                            <div class="portfolio-content h-100">
                                <img src="assets/img/gallery/kanopi.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Design 3</h4>
                                    <p>Lorem ipsum, dolor sit amet consectetur</p>
                                    <a href="assets/img/gallery/kanopi.png" title="Repairs 3"
                                        data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i
                                            class="bi bi-zoom-in"></i></a>
                                    <a href="#" title="More Details" class="details-link"><i
                                            class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div><!-- End Projects Item -->

                    </div><!-- End Projects Container -->

                </div>

            </div>
        </section><!-- End Our Projects Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact section-blue">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2><span>Kontak</span></h2>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">

                    <div class="col-lg-6 ">
                        <iframe class="mb-4 mb-lg-0"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.499879959982!2d106.6517486742328!3d-6.1975860607137525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f90219d5b5f1%3A0x506ebeac411a5940!2sBengkel%20Las%20SukaJaya!5e0!3m2!1sid!2sid!4v1685730679531!5m2!1sid!2sid"
                            frameborder="0" style="border:0; width: 100%; height: 420px;" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">

                            <div class="col-lg-6 col-md-6">
                                <div class="info-box mb-4">
                                    <i class="bi bi-geo-alt"></i>
                                    <h3>Alamat</h3>
                                    <p>Jl. Danau, Cipete, Tangerang (Belakang Perumahan Banjar Wijaya)</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="info-box mb-4">
                                    <i class="bi bi-telephone"></i>
                                    <h3>Telepon</h3>
                                    <p>0822-4904-0305</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="info-box mb-4">
                                    <i class="bi bi-envelope"></i>
                                    <h3>Email</h3>
                                    <p>fauzanbashar8@gmail.com</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="info-box mb-4">
                                    <i class="bi bi-instagram"></i>
                                    <h3>Instagram</h3>
                                    <p>@sukajayalas.indo</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content position-relative">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>Suka Jaya</h3>
                            <p>
                                Jl. Danau, Cipete (Belakang Perumahan Banjar Wijaya) <br>
                                Pinang, Tangerang<br><br>
                                <strong>Phone:</strong> 0822-4904-0305<br>
                                <strong>Email:</strong> Fauzanbashar8@gmail.com<br>
                            </p>
                            <div class="social-links d-flex mt-3">
                                <a href="https://wa.me/6282249040305" target="_blank"
                                    class="d-flex align-items-center justify-content-center"><i
                                        class="bi bi-whatsapp"></i></a>
                                <a href="https://www.instagram.com/sukajayalas.indo/" target="_blank"
                                    class="d-flex align-items-center justify-content-center"><i
                                        class="bi bi-instagram"></i></a>
                                <a href="mailto:fauzanbashar8@gmail.com" target="_blank"
                                    class="d-flex align-items-center justify-content-center"><i
                                        class="bi bi-envelope"></i></a>
                            </div>
                        </div>
                    </div><!-- End footer info column-->

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><a href="#hero">Home</a></li>
                            <li><a href="#alt-services">Tentang Kami</a></li>
                            <li><a href="#services">Layanan</a></li>
                            <li><a href="#projects">Gallery</a></li>
                            <li><a href="#contact">Kontak</a></li>
                        </ul>
                    </div><!-- End footer links column-->

                    <div class="col-lg-4 col-md-3 footer-links">
                        <h4>Layanan Kami</h4>
                        <ul>
                            <li><a href="#">Pembuatan Kanopi</a></li>
                            <li><a href="#">Pembuatan Railing</a></li>
                            <li><a href="#">Pembangunan Gudang</a></li>
                            <li><a href="#">Pembuatan Pagar</a></li>
                            <li><a href="#">Pembuatan Tralis</a></li>
                        </ul>
                    </div><!-- End footer links column-->

                </div>
            </div>
        </div>

        <div class="footer-legal text-center position-relative">
            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong><span>Suka Jaya</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <a href="https://wa.me/6282249040305" target="_blank"
        class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>